/* Fix user-agent */

* {
    box-sizing: border-box;
}

html {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}
   
html, input {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    word-wrap: break-word;
}

/* Pages */

.pages {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.page {
    height: 100%;
    position: absolute;
    width: 100%;
}

/* Login Page */

.login.page {
    background-color: #000;
}

    .login.page .form {
        height: 100px;
        margin-top: -100px;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%;
    }

        .login.page .form .usernameInput {
            background-color: transparent;
            border: none;
            border-bottom: 2px solid #fff;
            outline: none;
            padding-bottom: 15px;
            text-align: center;
            width: 400px;
        }

    .login.page .title {
        font-size: 200%;
    }

    .login.page .usernameInput {
        font-size: 200%;
        letter-spacing: 3px;
    }

    .login.page .title, .login.page .usernameInput {
        color: #fff;
        font-weight: 100;
    }

/* Chat page */

.chat.page {
    display: none;
}

/* Font */

.messages {
    font-size: 150%;
}

.inputMessage {
    font-size: 100%;
}

.log {
    color: gray;
    font-size: 70%;
    margin: 5px;
    text-align: center;
}

/* Messages */


.messages {
    height: 100%;
    margin: 0;
    overflow-y: scroll;
    padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
    color: gray;
}

.username {
    font-weight: 700;
    overflow: hidden;
    padding-right: 15px;
    text-align: right;
}

/* Input */
.btnBox {
    background: #ffffff;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 4px 0;
}

.inputMessage {
    height: 32px;
    outline: none;
    margin-left: 2%;
    border-bottom: 1px solid #c3c3c3;
    display: inline-block;
    float: left;
    margin-top: 14px;
}

.fsBtn {
    width: 18%;
    background: #40A700;
    color: #ffffff;
    border: none;
    outline: none;
    float: left;
    margin-top: 0.4rem;
}

.noticeBox {
    width: 100%;
    text-align: center;
}

.noticeMessage {
    display: inline-block;
    padding: 2px 10px;
    background: #d6d6d6;
    color: #ffffff;
    margin: 0 auto;
    border-radius: 2px;
    font-size: 0.6rem;
    margin: 8px 0;
}

.aui-chat {
    padding: 0 0 60px 0 !important;
}

#chatArea {
    /*height: 100%;*/
    margin: 0;
    overflow-y: scroll;
}

.aui-chat-inner {
    padding: 0 6px;
}

.memberWrap {
    position: fixed;
    bottom: 54px;
    left: 0;
    width: 100%;
}

    .memberWrap li img {
        display: inline-block;
        width: 1.2rem;
        height: 1.2rem;
    }

.xfBox {
    width: 1.6rem;
    height: 1.6rem;
    top: 0.2rem !important;
}

    .xfBox img {
        width: 130%;
        height: 130%;
        max-width: none !important;
    }

.personList {
    display: none;
    font-size: 0.7rem;
    height: 9rem;
    background: rgba(215,215,215,0.8);
    padding-top: 0.4rem;
    overflow: scroll;
}

    .personList li {
        overflow: hidden;
        margin-bottom: 0.4rem;
        margin-left: 0.4rem;
        display: flex;
        align-items: center;
        color: #ffffff;
        position: relative;
    }

        .personList li a span {
            float: left;
        }

.role {
    background: #ffc107;
    padding: 0 0.2rem;
    color: #ffffff;
    margin: 0 0.2rem;
    font-size: 0.4rem;
    position: absolute;
    right: 0;
    top: 4px;
}

.btnBox span {
    position: absolute;
    right: -0.4rem;
    top: -0.4rem;
    display: inline-block;
    background: red;
    color: #ffffff;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    text-align: center;
    line-height: 1rem;
    font-size: 0.7rem;
}

@media screen and (max-width: 320px) {
    .inputMessage {
        width: 68%;
    }
}

@media screen and (min-width: 340px) and (max-width: 413px) {
    .inputMessage {
        width: 69%;
    }
}

@media screen and (min-width: 414px) {
    .inputMessage {
        width: 70%;
    }
}

.rolePic img {
    border-radius: 50%;
}

.roleName {
    width: 5rem;
    margin-left: 0.2rem;
    line-height: 30px;
    display: inline-block;
    overflow: hidden; /*自动隐藏文字*/
    text-overflow: ellipsis; /*文字隐藏后添加省略号*/
    white-space: nowrap; /*强制不换行*/
    color: black;
}

#main {
    max-height: 80px;
    overflow: scroll;
}

.messNoticeBox {
    position: fixed;
    bottom: 60px;
    left: 86%;
    display: none;
}

    .messNoticeBox img {
        width: 34px;
        height: 34px;
        display: inline-block;
    }

    .messNoticeBox span {
        position: absolute;
        top: 5px;
        left: 20%;
        color: #ffffff;
    }
/*-----------------------------*/
.spinner {
    margin: 100px auto;
    width: 90px;
    height: 90px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-animation: rotate 2.0s infinite linear;
    animation: rotate 2.0s infinite linear;
}

.dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #67CF22;
    border-radius: 100%;
    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
    top: auto;
    bottom: 0px;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }

    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}
